:root {
  --color-white:        hsl(190, 58%, 96%);
  --color-black:        hsl(190, 58%, 5%);

  --color-main:         hsl(300, 100%, 50%);
  --color-main--dark:   hsl(300, 100%, 15%);

  --color-secondary:        hsl(219, 100%, 50%);
  --color-secondary--dark:  hsl(219, 100%, 25%);

  --color-ternary:          hsl(32, 100%, 78%);
  --color-ternary--dark:    hsl(32, 100%, 25%);

  --themejs--color-border:      #0000ff;  //set by localStorage theme value
  --themejs--background-color:  #aac8ff;  //set by localStorage theme value

  --unit-horizontal:  25.5px;
  --unit-horizontal-half: calc( var(--unit-horizontal) / 2 );
  --unit-gutter:      25px;
  --unit-gutter-half: calc( var(--unit-gutter) / 2 );

  --header-height: calc( var(--unit-horizontal) * 2 );

  --color-background: var(--color-white);
  --color-text:       var(--color-black);
}

[data-theme="dark"] :root {
  --color-background:   var(--color-black);
  --color-text:         var(--color-white);
}

html {
  font-size: var(--unit-horizontal);
  overflow-x: hidden;
  background: black;
}

body {
  @extend .fp-text-p;
  margin: 0;
  color: var(--color-text);
  background: black;
  transition: color 0.5s, background-color 0.5s;
  font-family: "Junka", serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  @extend .fp-text-h1;
}

h2 {
  @extend .fp-text-h2;
}

h3 {
  @extend .fp-text-h3;
}

h4 {
  @extend .fp-text-h4;
}

h5 {
  @extend .fp-text-h5;
}

p {
  @extend .fp-text-p;

  h4 + &,
  h5 + & {
    margin-top: -1rem;
  }

  & + h4,
  & + h5 {
    margin-top: 1rem;
  }
}

a {
  color: inherit;
}
