:root {
  --color-white:        hsl(190, 58%, 96%);
  --color-black:        hsl(190, 58%, 5%);

  --color-main:         hsl(300, 100%, 50%);
  --color-main--dark:   hsl(300, 100%, 15%);

  --color-secondary:        hsl(219, 100%, 50%);
  --color-secondary--dark:  hsl(219, 100%, 25%);

  --color-ternary:          hsl(32, 100%, 78%);
  --color-ternary--dark:    hsl(32, 100%, 25%);

  --unit-horizontal:  28px;
  --unit-gutter:      28px;
  --unit-gutter-half: calc( var(--unit-gutter) / 2 );

  --header-height: calc( var(--unit-horizontal) * 2 );

  --color-background: var(--color-white);
  --color-text:       var(--color-black);
}

[data-theme="dark"] :root {
  --color-background:   var(--color-black);
  --color-text:         var(--color-white);
}

html {
  font-size: var(--unit-horizontal);
}

body {
  margin: 0;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1rem;
  font-family: "Junka", serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: .8rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 21vw;
  line-height: 19vw;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 800;
}

h2 {
  line-height:  4.5vw;
  font-size:    4.5vw;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 800;
  max-width: 12em;
}

h3 {
  line-height: 3rem;
  font-size: 2.9rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: 800;
  color: var(--color-main);
}

a {
  color: inherit;
}

p {
  line-height: 1rem;
  font-size: .8rem;
  max-width: 35em;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
