.fp-logo {
  font-weight: 800;
  letter-spacing: -.025em;
}

.fp-with-gutter {
  box-sizing: border-box;
  padding-left: var(--unit-gutter-half);
  padding-right: var(--unit-gutter-half);
}

.fp-remove-child-spacing {
  > *:first-child {
    margin-top: 0!important;
  }
  > *:last-child {
    margin-bottom: 0!important;
  }
}

.fp-section--default {
  box-sizing: border-box;
  padding-top: 2rem;
  padding-bottom: 2rem;

  h1 {
    color: var(--color-main);
  }
}
